fastapi>=0.111.0
uvicorn>=0.29.0
elasticsearch>=8.13.0
pydantic>=2.7.0
python-dotenv>=1.0.1
python-multipart>=0.0.9
PyPDF2>=3.0.0
# google-auth-httplib2>=0.2.0
# google-auth-oauthlib>=1.2.0
itsdangerous>=2.1.2
Requests>=2.31.0
fastembed>=0.1.0
# google-api-python-client==2.128.0
# googleapiclient>=2.0.0
# google-api-core>=2.0.0
# google-auth>=2.0.0

